<!DOC TYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .main{
             padding-top:4%;
             padding-bottom:4%;
        }
    </style>
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">                        
                    <div class="signup-form">
                        <h2 align="center" class="form-title">Forgot Password?</h2> 
                            <h3 align="center" class="form-title">You can reset your password here</h3>
                        <form method="POST" class="register-form" id="register-form" name="forgotpassword" action="forgotpassword">
                            
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                             
                            <div class="form-group form-button">
                                <button type="submit" style=" text-decoration: none" class="signup-image-link form-submit" id="signup">Reset my Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="img/Medi-caps-Logo.jpg" alt="Medi-Caps University" width="300px" height="320px"></figure>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>  
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
<script>
function myFunction(){
var x=document.getElementById("myDate").max;
           }
</script>

</body>
</html>