<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        .main{
             padding-top:4%;
             padding-bottom:4%;
        }
    </style>
</head>
<body>

    <div class="main">


        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="img/Medi-caps-Logo.jpg" alt="Medi-Caps University" width="300px" height="320px"></figure>
                        <div class="form-group form-button">
                        
                        
                         </div>
                         </div>

                    <div class="signin-form">
                        <h2 class="form-title">Reset Password</h2>
                        <form method="POST" class="register-form" id="login-form" name="resetPassword" action="resetPassword">
                            <div class="form-group">
                                <input type="hidden" name="token" id="token" placeholder="Password" th:value="*{token}"/>   
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password"/>   
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                               
                            </div>
                            <div class="form-group form-button">
                              <button type="Submit" class="signup-image-link form-submit" style="text-decoration:none" id="signin"> Update Your Password</button>
                            
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
 </div>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>

</html>